@model InvoiceCreator.Models.MainModels.Service

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Service</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameOfService)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameOfService)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionOfService)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionOfService)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitPriceWithoutDPH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitPriceWithoutDPH)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DPH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DPH)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitPriceWithDPH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitPriceWithDPH)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPriceWithDPH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPriceWithDPH)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
